h1 {
  text-decoration: underline;
}

body,html{
    padding : 0;
    margin : 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
     background: #d7f2ea;
}
body *{
    box-sizing: border-box;
    outline: none;

}

.item-info span{
        font-style: italic;
}

.item-name{
    font-weight: 200;
    font-size: 40px;
    max-width: 300px;
    color: #49766a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item{
    display: flex;
    min-width: 700px;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 5px;
    border-left: 8px solid #648078;
    position: relative;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.07);
}


.login-form > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-form > div > button:hover{
    background: #ffabab;
}
.login-form > div >button:active,
.login-form > div >button:focus{
    background: #c16b6b;
}
.login-form > div > button:first-child{
    width: 48%;
    height: 40px;
    background: #3ccda2;
    color: white;
    border: 1px solid #4cb092;
}
.login-form > div > button:first-child:hover{
    background: #95fcdd;
}

.login-form > div >button:first-child:active,
.login-form > div >button:first-child:focus{
    background: #5ab197;
}

.login-form h3{
        color: #3ccda2;
    font-size: 27px;
    font-weight: 200;
}

.login-error{
    color: #b20f0f;
    width: 100%;
    display: none;
    text-align: center;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin-bottom: 5px;
    background: rgba(255, 114, 114, 0.22);
}
.login-error.visible{
    display: flex;
}
.login-form > div > button{
        background: #cd3c3c;
    border: 1px solid red;
    color: white;
    width: 48%;
        border-radius: 3px;
    transition: 0.3s linear all;
    height: 40px;
    cursor: pointer;
}
.login-form{
display: flex;
    justify-content: center;
    margin: 100px auto 0 auto;
    align-items: center;
    padding: 5px;
    background: rgba(173, 225, 209, 0.3);
    width: 300px;
    border-radius: 5px;
    border: 1px solid #3ccda2;
    flex-direction: column;
}

.login-form input{
        height: 40px;
    padding-left: 5px;
    color:white;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    border-radius: 5px;
    margin-bottom: 5px;
}

.item-info{
    position: absolute;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.item-price{
    position: absolute;
    right: 5px;
    font-size: 40px;
    font-weight: 200;
    color: #167c5c;
}

#app{
    height: 100%;
    width: 100%;
}
#app >div{
    height: 100%;
}

.content-inner{
    padding : 5px;
}
.search-input{
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b2a8a8;
}

.content{
    position: absolute;
    left: 80px;
    right: 0;
    bottom: 0;
    top: 80px;
    overflow: auto;
}

.button-info{
    position: absolute;
    right: 106px;
}

.button-info i{
    margin-right: 2px;
    font-size: 20px;
    cursor: pointer;
}
.pre-head .fa-shopping-basket{
    position: absolute;
    right : 5px;
    cursor: pointer;
}
.content > div.pre-head{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
}

.login-name{
    padding: 5px;
    color : #00f1ff;
}
header{
    right:  0;
    width: calc(100% - 80px);
    height: 80px;
    font-size: 33px;
    font-weight: 200;
    background: rgba(18, 18, 18, 0.54);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left : 80px;
    color: white;
    position: relative;
}

.fa.fa-sign-out{
    position: absolute;
    right: 5px;
    cursor: pointer;
    transition: 0.3s linear all;
    color: white;
}
.fa:hover{
    color : #ff7e7e;
}
.fa:active{
    color : red;
}

.add-item-panel{
    margin: 5px;
    border: 1px solid #5aedbe;
    border-radius: 3px;
    padding : 15px;
    background: #c9e2da;
}

.inputs-wrap > div{
    width: 48%;
}

.selects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selects select{
    width: 48%;
    height: 40px;
}

.add-item-panel textarea{
    width: 100%;
    padding : 5px;
    height: 100%;
    border-radius: 5px;
    resize: none;
}
.add-item-panel button:hover{
    background: rgba(16, 213, 112, 0.09);
}
.add-item-panel button:active,
.add-item-panel button:focus{
    background: rgba(131, 255, 191, 0.68);
}

.add-item-panel > .inputs-wrap{
    display: flex;
    margin: 5px 0;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
}

.add-item-panel .inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-item-panel > div input{
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b2a8a8;
}
select{
   border-radius: 5px;
}

.add-item-panel button{
    width: 100%;
    border: 1px solid #84bbab;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-weight: 200;
    color: white;
    margin-top: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.genre-sidenav{
    height: 80px;
    width: 80px;
    color: white;
    background: #6bbba3;
    border-bottom: 1px solid #d9e0db;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 19px;
    word-break: break-word;
    padding: 5px;
    text-align: center;
}

.genre-sidenav:hover,.genre-sidenav:active,.genre-sidenav.selected{
        background: #1b8666;
}

.sidenav{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    background: rgba(18, 18, 18, 0.54);
}
.logout-button{
    position: absolute;
    right: 0;
    height: 100%;
    border: 0;
    border-left: 1px solid #be1b1b;
    color: white;
    background: #b00e0e;
    cursor: pointer;
}

.cart, .info{
    position: fixed;
    top: 100px;
    z-index: 100;
    width: 500px;
    height: 500px;
    background-color: rgba(127, 204, 180, 0.93);
    border: 1px solid #6bbba3;
    border-radius: 20px;
    transition: opacity .5s ease;
}

.add-new-game{
    width: 100%;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.fa-times{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.confirm-buy{
    position: absolute;
    width: 200px;
    background-color: #d7f2ea;
    color: #83cdb6;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    bottom: 20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition: .3s ease;
}

.confirm-buy:hover{
    color: #d7f2ea;
    background-color: #6bbba3;
}

.cart-items-container{
    position: relative;
    top: 65px;
    width: 450px;
    height: 350px;
    margin: 0 auto;
}

.cart-item{
    text-align: center;
    height: 50px;
}

.cart-item > span{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.cart-item-name{
    width: 35%;
}

.cart-item-count{
    width: 25%;
}

.cart-item-price{
    width: 20%;
}

.remove-from-cart{
    vertical-align: middle;
    background-color: #d7f2ea;
    color: #83cdb6;
    border: none;
    border-radius: 10px;
    padding: 3px 6px;
    cursor: pointer;
}

.remove-from-cart:hover{
    color: #d7f2ea;
    background-color: #6bbba3;
}
